<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDEX</title>
</head>
<body>
    <h1>Our Form</h1>
    <form action = "/user" method="POST">
        <label for = "nme">NAME</label>
        <input type="text" name = "name" id = "nme" placeholder = "First Name">

        <label for = "mil">Mail</label>
        <input type="text" name="mail" id="mil" placeholder = "Last Name">
        
        
        <label for = "msg">MESSAGE</label>
        <input type = "text" name = "message" id = "msg" placeholder = "Yours Message">

        <input type="submit">

    </form>

</body>
</html>